.classText1 {
  float: right;
}

.classText2 {
  float: left;
}

.classText3 {
  float: right;
}

.classText4 {
  float: left;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  border: 1px black solid;
}

/*Navbar Div Setup*/
.navbar {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(1, 25rem);
  justify-items: center;
  border: 1px black solid;
}

.navbarImage {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border: 1px black solid;
}

.link1 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
  vertical-align: middle;
  line-height: 22rem;
  border: 1px black solid;
}

.link2 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  border: 1px black solid;
}

.link3 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  border: 1px black solid;
}

.link4 {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
  border: 1px black solid;
}

/*Majortity of the Content for the Page*/
.content {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(5, auto);
  border: 1px black solid;
}

.bodyImage {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border: 1px black solid;
}

.firstContentRow {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  border: 1px black solid;
}

.secondContentRow {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  border: 1px black solid;
}

.thirdContentRow {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  border: 1px black solid;
}

.fourthContentRow {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  border: 1px black solid;
}

.contentImageLeft {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border: 1px black solid;
}

.contentTextRight {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  border: 1px black solid;
}

.contentImageRight {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  border: 1px black solid;
}

.contentTextLeft {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border: 1px black solid;
}
